@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8ca9df;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    padding: 2rem;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    color: #385781;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 45rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #92b0e7;
    padding: 20px;
    box-shadow: 0rem 1rem 1rem 1rem rgba(0,0,0,.2);
    border-radius: 10px;
}

.countdown {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #88a4d6;
    color: #385781;

    padding: 15px;
    border-radius: 10px;

    box-shadow: 0rem .7rem rgba(0,0,0,.2);
}

.day, .hour, .minute, .second {
    font-size: 3rem;
}

img {
    height: 50vh;
}
